fieldset {
    width: 500px;
}

a {
    color: black;
    padding: 3px;
    border: 2px solid darkgreen;

}

label {
    text-align: right;
    width: 130px;
    float: left;
}

legend {
    font-size: xx-large;
}

input {
    border: 2px solid darkgreen;
    border-radius: 4px;
    color: black;
    width: 240px;
}

textarea {
    border: 2px solid darkgreen;
    border-radius: 4px;
    width: 240px;
    height: 50px;
}